/*
	Theme Name: History
	Theme URI: http://themewisdom.com/demo/wpm/history/
	Description: History - Museum & Exhibition WordPress Theme
	Author: PremiumLayers
	Author URI: http://premiumlayers.net/
	Version: 1.2.2
	Tags: threaded-comments, theme-options, sticky-post, full-width-template, flexible-header, featured-images, custom-menu, custom-header, custom-colors, custom-background
	Text Domain: history
	License: GNU General Public License
	License URI: license.txt
*/

.img-block {
	margin-top: 16% !important;
}
.top-header .top-content::before{
	background-color: #000 !important;
}